<h1>Welcome</h1>

<div class="content">
      <p>Welcome to the Rubiks Time Tracker app. Signup and you'll be able to keep track of all your Cubing Speeds, Averages, and Personal Bests for each of your cubes.
      If you do not have an account, please signup to access the awesome features. 
      If you are an existing Cuber, please login to your account.</p>
    </div>

